profiles {
	
	standard {
		process.executor = 'local'
	}

	sge {
		process.executor = 'sge'
		queue = 'all.q'
		clusterOptions = '-S /bin/bash'
	}

	pbs {
		process.executor = 'pbspro'
		queue = 'workq'
		clusterOptions = '-S /bin/bash'
	}
}

env {
    PATH = "$PWD/scripts:$PWD/external/a5/bin:$PWD/external/art:$PWD/external/last:$PWD/external/sgevolver:$PWD/external/bedtools:$PATH"
}
