// Local configuration options placed here will be automatically incorperated.
//
//
// Example which specifies Sun Grid Engine, using queue "long" and 10G memory resource
//
// process.executor = 'sge'
// process.queue = 'long'
// process.memory = '10G'
//
// See https://www.nextflow.io/docs/latest/config.html
//
