
profiles {
	
	standard {
		process.executor = 'local'
	}

	sge {
		process.executor = 'sge'
		queue = 'all.q'
		clusterOptions = '-S /bin/bash'
	}

	pbs {
		process.executor = 'pbs'
		queue = 'batch'
		clusterOptions = '-S /bin/bash'
	}

	pbspro {
		process.executor = 'pbspro'
		queue = 'workq'
		clusterOptions = '-S /bin/bash'
	}
}

env {
    METASWEEPER_HOME = "${METASWEEPER_HOME?:''}"
    PATH = "$PWD/external/a5/bin:$PWD/external/art:$PWD/external/last:$PWD/external/sgevolver:$PWD/external/bedtools:$PWD/external/genotypes_acgt:$PWD/external/lofreq_star:$PATH"
    EXT_BIN = "$METASWEEPER_HOME/external"
    JARPATH = "$EXT_BIN/libs"
    MAUVEPATH = "$EXT_BIN/mauve_snapshot_2015-02-13/"
}

manifest {
    homePage = 'https://github.com/cerebis/meta-sweeper'
    description = 'Parametric sweep of simulated various metagenomic sequencing experiments'
    mainScript = 'hic-sweep.nf'
}
