includeConfig 'sweep.config'

profiles {
	
	standard {
		process.executor = 'local'
	}

	sge {
		process.executor = 'sge'
		queue = 'all.q'
		clusterOptions = '-S /bin/bash'
	}

	pbs {
		process.executor = 'pbs'
		queue = 'batch'
		clusterOptions = '-S /bin/bash'
	}

	pbspro {
		process.executor = 'pbspro'
		queue = 'workq'
		clusterOptions = '-S /bin/bash'
	}
}

env {
    PATH = "$PWD/scripts:$PWD/external/a5/bin:$PWD/external/art:$PWD/external/last:$PWD/external/sgevolver:$PWD/external/bedtools:$PWD/external/genotypes_acgt:$PWD/external/lofreq_star:$PATH"
    JARPATH = "$PWD/external/libs"
    MAUVEPATH = "$PWD/external/mauve_snapshot_2015-02-13/"
}
