
params {
    output = 'out'
    seed = 1234
    
    alpha = "1"
    xfold = "1"
    hic_pairs = "10000"

    desc_len = 3000000
    indel_freq = 1e-4
    small_ht_freq = 1e-4
    large_ht_freq = 1e-4
    inversion_freq = 1e-4

    trees = 'test/trees/*nwk'
    tables = 'test/tables/*table'
    ancestor = 'test/anc.raw'
    donor = 'test/don.raw'

    wgs_read_len = 150
    wgs_ins_len = 450
    wgs_ins_std = 100

    hic_inter_prob = 0.9
    hic_read_len = 150
}

includeConfig 'execution.config'

