params {
    
    // A random seed
    seed = 1234

    // List of tree scale factors
    alpha = "0.001, 0.0005, 0.0001"

    // List of WGS depths
    xfold = "10, 20"

    num_samples = 8

    // List of Hi-C pair counts
    hic_pairs = "50000, 100000"

    // Newick trees, obtained from the file system
    trees = 'test/trees/*nwk'

    // Abundance profile tables, obtained from the file system
    profiles = 'test/tables/*table'

    // Ancestral sequence from which all communities are generated
    ancestor = 'test/ancestor.fa'

    // HGT sequence
    donor = 'test/donor.fa'

    // Output path for final data
    output = 'out'

    // sgEvolver frequencies
    indel_freq = 1e-4
    small_ht_freq = 1e-4
    large_ht_freq = 1e-4
    inversion_freq = 1e-4

    // WGS simulation
    wgs_read_len = 150
    wgs_ins_len = 450
    wgs_ins_std = 100

    // HiC simulation
    hic_inter_prob = 0.9
    hic_read_len = 150

}
