
params {
    output = 'out'
    seed = 1234
}

evolve {
    alpha = [1]
    desc_len = 3000000
    indel_freq = 1e-4
    small_ht_freq = 1e-4
    large_ht_freq = 1e-4
    inversion_freq = 1e-4

    trees = 'test/trees/*nwk'
    tables = 'test/tables/*table'
    ancestor = 'test/ancestor.raw'
    donor = 'test/donor.raw'
}

wgs {
    xfold = [1]
    read_len = 150
    ins_len = 450
    ins_std = 100
}

hic {
    pairs = [10000]
    inter_prob = 0.9
    read_len = 150
}

includeConfig 'execution.config'
